src/main/mule/api-redis.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sockets="http://www.mulesoft.org/schema/mule/sockets" xmlns:redis="http://www.mulesoft.org/schema/mule/redis"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/redis http://www.mulesoft.org/schema/mule/redis/current/mule-redis.xsd
http://www.mulesoft.org/schema/mule/sockets http://www.mulesoft.org/schema/mule/sockets/current/mule-sockets.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f24a59e7-eb92-4511-ab21-f4984f5f0106" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<redis:redis-config name="Redis_Redis" doc:name="Redis Redis" doc:id="601d4880-96e8-490d-a759-ec9bda429235" >
		<redis:nonclustered-connection />
	</redis:redis-config>
	<flow name="http-hello" doc:id="1cb7c783-b0b0-4a4c-bc92-1dc57d4582aa" >
		<http:listener doc:name="Hello" doc:id="8555c887-cd99-4708-9bb9-0873babc9573" config-ref="HTTP_Listener_config" path="/hello"/>
		<redis:publish doc:name="Publish" doc:id="9a576e3c-fdcb-48bc-bce9-900538cdf467" config-ref="Redis_Redis" channel="messages" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="c7594dd6-df0d-4b8a-a7ea-526503e02f5c" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"hello_world": "done"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="redis-subscribe" doc:id="5ba7b202-3756-4ac2-a479-ed35dc7cc352" >
		<redis:subscribe doc:name="Subscribe" doc:id="2325d129-15b2-44d2-b77a-010bee61dd9c" config-ref="Redis_Redis">
			<redis:channels >
				<redis:channel value="messages" />
			</redis:channels>
		</redis:subscribe>
		<logger level="INFO" doc:name="Logger" doc:id="55ecdb65-2ebd-47e7-9867-5ca1017ccd39" />
		<redis:set doc:name="Set" doc:id="d0625484-a291-4321-bd9a-3e14cf128a1d" config-ref="Redis_Redis" key="global"/>
	</flow>
</mule>
